.CardOrder__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.CardOrder__description>img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.description{
    font-family: 'KumbhSans-Regular';
    font-size: 16px;
    color:#69707D;
}

.price .totalPrice{
    font-family: 'KumbhSans-Bold';
    color: black;
    margin-left: 10px;
}

.Button{
    width: 100%;
    display: flex;
    justify-content: center;  
}

.Basket:hover *{
    fill:black;
}