.header{
    height: 80px;
    border-bottom: 1px solid #E4E9F2;
    padding: 12px 0;
    margin-bottom: 90px;
}

.header__menu{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__left{
    height: 26px;
    width: 591px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__right{
    position: relative;
    display: flex;
    align-items: center;
}

.header__menu__left__links>a{
    font-family: 'KumbhSans-Regular'; 
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 7.2%;
}

.header__menu__left__links>a:not(:last-child){
   margin-right: 33px;
}

.header__menu__left__links>a:hover{
   border-bottom: 4px solid #FF7E1B;
}

.header__menu__right>img:hover{
    outline: 2px solid #FF7E1B;
    border-radius: 50%;
    cursor: pointer;
}

