@font-face {
    font-family: 'KumbhSans-Bold';
    src: url('../../public/fonts/KumbhSans-Bold.ttf');
}

@font-face {
    font-family: 'KumbhSans-Regular';
    src: url('../../public/fonts/KumbhSans-Regular.ttf');
}

.header{
    height: 84px;
    border-bottom: 1px solid #E4E9F2;
}

.header__menu{
    height: 50px;
}

.header__menu__left{
    height: 26px;
    width: 591px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__left__links>a{
    font-family: 'KumbhSans-Regular'; 
    color: #69707D;
    font-size: 15px;
    text-decoration: none;
}

.header__menu__left__links>a:not(:last-child){
   margin-right: 33px;
}

